.home-container {
    padding: 20px 10px 120px 10px;
    background-color: #FFF;
   
}

.home-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00285F;
    border-radius: 10px;
    color: #FFF;
    margin-bottom: 21px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.home-card img{
    margin: auto;
    width: 244px;
    margin: 62px 28px 35px 28px;
}

.img-card {
    margin: auto;
}

.card-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}

.card-text h2 {
    font-size: 22px;
    margin-bottom: 13px;
}

.card-text p {
    font-size: 14px;
    font-weight: 400;
    width: 251px;
    margin-bottom: 51px;
    color: #FFFFFF;
}

.button-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #EDEDED;
}

.button-card button {
    width: 174px;
    height: 40px;
    color: #FFF;
    text-transform: uppercase;
    background-color: #00285F;
    border-radius: 5px;
    margin: 28px 63px 9px 63px;
    font-size: 14px;
    font-weight: 700;
    border-style: none;
    
}

.button-card h2 {
    font-size: 18px;
    font-weight: 400;
    color: #585858;
    margin-bottom: 25px;
    text-decoration: none;
}

@media (min-width: 576px) {
    .home-container {
        padding: 30px 20px 120px 20px;
    }

    .home-card {
        margin-bottom: 30px;
    }

    .home-card img{
        width: 333px;
        margin: 22px 101px 19px 101px;
    }

    .card-text h2 {
        font-size: 36px;
        margin-bottom: 0px;
    }

    .card-text p {
        padding: 0;
        font-size: 18px;
        font-weight: 400;
        width: 420px;
        margin-bottom: 41px;
    }

    .button-card {
        flex-direction: row;
        justify-content: left;
        padding: 0 62px 0px 85px;
    }

    .button-card button {
        margin: 40px 15px 40px 0px;
    }

    .button-card h2 {
        margin-bottom: 0px;
    }
}

@media (min-width: 768px) {

    .home-card {
        margin-bottom: 25px;
    }

    .home-card img{
        margin: 79px 197px 37px 197px;
    }

    .card-text p {
        font-size: 18px;
        font-weight: 400;
        width: 420px;
        margin-bottom: 76px;
    }
}

@media (min-width: 992px) {

    .home-card {
        margin-bottom: 30px;
    }

    .home-card img{
        width: 455px;
        margin: 82px 248px 17px 248px;
    }

    .card-text p {
        font-size: 18px;
        font-weight: 400;
        width: 420px;
        margin-bottom: 124px;
    }

}

@media (min-width: 1280px) {
    .home-container {
        padding: 30px 150px 120px 150px;
    }

    .home-card {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 21px;
        
    }

    .home-card img{
        width: 333px;
        margin: 83px 63px 83px 74px;
    }

    .card-text {
        justify-content: center;
        padding: 140px 0 140px 85px;
    }

    .card-text p {
        text-align: left;
        margin-bottom: 0px;
    }


}