.card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 22px 15px 21px;
    background-color: #EDEDED;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-img img {
    margin-bottom: 8px;
    
}

.card-img .title h3 {
    color: #000;
    font-size: 18px;
    margin-bottom: 14px;
}

.text {
    width: 100%;
}
.text p {
    color: #585858;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 38px;
    text-align: left;
    padding: 0px;
}

.card-img button {
    background-color: #00285F;
    color: #FFF;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-style: none;
    margin-bottom: 15px;
    width: 100%;
}

.button {
    width: 100%;
}

@media (min-width: 576px) {
    .text p {
        font-size: 12px;
    }   

    .card-img {
        padding: 14px 20px 15px 14px;
       
    }

    .card-img .title h3 {
        margin-bottom: 18px;
    }
}

@media (min-width: 768px) {
    .card-img .title h3 {
        margin-bottom: 14px;
    }   
}